<?xml version="1.0" encoding="utf-8"?>
<root>
	<config>
		<stylePack><![CDATA[albelli_rebrand]]></stylePack>
		<selectedLocale><![CDATA[en-GB]]></selectedLocale>
		<marketingAdvertisementImageHome><![CDATA[channels/albelli.co.uk/graphics/marketing-ad.png]]></marketingAdvertisementImageHome>
		<marketingAdvertisementImageCustomer><![CDATA[channels/albelli.co.uk/graphics/marketing-ad.png]]></marketingAdvertisementImageCustomer>
		<marketingAdvertisementImageOrder><![CDATA[channels/albelli.co.uk/graphics/marketing-ad.png]]></marketingAdvertisementImageOrder>
		<photoQualityRating><![CDATA[70,90,120]]></photoQualityRating>
		<subscribeToNewsletterDefault>true</subscribeToNewsletterDefault>
		<shippingUrl>http://albelli.co.uk/customer-service/shipping</shippingUrl>
        <customerServiceUrl>http://albelli.co.uk/customer-service</customerServiceUrl>
        <productPreviewThumbnailWidth>424</productPreviewThumbnailWidth>
        <includePreviewWithCheckout>true</includePreviewWithCheckout>
	</config>
    <currency>
        <code><![CDATA[GBP]]></code>
        <format><![CDATA[{currency} {price}]]></format> <!-- format for currency + price: "€ 3.000", "3.000 kr" -->
    </currency>
	<omniture>
		<charSet><![CDATA[UTF-8]]></charSet>
		<currencyCode><![CDATA[GBP]]></currencyCode>
		<trackClickMap><![CDATA[false]]></trackClickMap>
		<autoTrack><![CDATA[false]]></autoTrack>
		<account><![CDATA[albumprinterdev2]]></account>
		<visitorNamespace><![CDATA[albumprinter]]></visitorNamespace>
		<trackingServer><![CDATA[albumprinter.122.2o7.net]]></trackingServer>
	</omniture>
	<country>
		<label><![CDATA[Great Britain]]></label>
        <data><![CDATA[GB]]></data>
        <zipCodeExample></zipCodeExample>
        <zipCodeExpression><![CDATA[]]></zipCodeExpression>
	</country>
    <layout>
        <spacing>
            <inner>
                <metric>inches</metric>
                <precision>3</precision>
                <minValue>0</minValue>
                <maxValue>1</maxValue>
            </inner>
            <outer>
                <metric>inches</metric>
                <precision>3</precision>
                <minValue>0</minValue>
                <maxValue>2</maxValue>
            </outer>
        </spacing>
    </layout>
    <backgroundColors>
        <color>#000000</color>
        <color>#404040</color>
        <color>#808080</color>
        <color>#BFBFBF</color>
        <color>#FFFFFF</color>
        <color>#FFDDDA</color>
        <color>#CEA677</color>
        <color>#FFFFD8</color>
        <color>#90EAEB</color>
        <color>#4F7079</color>
        <color>#DFE0F9</color>
        <color>#FFB1BF</color>
        <color>#3C0038</color>
        <color>#6664B4</color>
        <color>#23A017</color>
        <color>#8CD446</color>
        <color>#4DC742</color>
        <color>#D145C1</color>
        <color>#E64C8D</color>
        <color>#FBB735</color>
        <color>#E98931</color>
        <color>#EB403B</color>
        <color>#B32E37</color>
        <color>#6C2A6A</color>
        <color>#274389</color>
        <color>#1F5EA8</color>
        <color>#227FB0</color>
        <color>#2AB0C5</color>
        <color>#39C0B3</color>
    </backgroundColors>
</root>
